@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url('fundo.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

}

html,body{
    width: 100%;
    height: 100%;
}

.barramenu{
    width: 100%;

    }
button{
    padding: 8px 12px;
    border-radius: 8px 8px;
}

/* HEADER */
.header-container{
    max-width: 1200px;
    margin: auto;
    padding: 15px 20px;
    
}

/* LOGO */


/* MENU */
.menu{
    display: flex;
    gap: 25px;
}

.menu a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.menu a:hover{
    color: orange;
}
