@charset "UTF-8";

*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}
body{
  background-image: url('imagens/fundo4.jpg');
  background-attachment: fixed;
  background-size: cover;
   background-repeat: no-repeat;
}